<h1>Docket Donkey</h1>
<p>A hub for downloading Massachusetts Trial Court information as CSV files</p>

<%# <%= form_for(@cases) do |f| %1> %>
<%#   <%= f.label :start %1> %>
<%#   <%= f.date_field :start %1> %>

<%#   <%= f.label :complete %1> %>
<%#   <%= f.date_field :complete %1> %>

<%#   <%= f.submit "Get Data" %1> %>

<%# <% end %1> %>

<form action="/cases" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  
  <label>
    From: <input type="date" name="start" />
  </label>

  <label>
    To: <input type="date" name="complete" />
  </label>

  <button>Submit</button>
</form>

