<!DOCTYPE html>
<html>
    <head>
        <title>DocketDonkey</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag "style", :media => "all" %>
        <%= stylesheet_link_tag "reset", :media => "all" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav>
            <ul>
                <% if user_signed_in? %>
                    <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        </li>
                <% else %>
                    <li> <%= link_to('Login', new_user_session_path)  %>  </li>
                    <li> <%= link_to('Sign Up', new_user_registration_path)  %>  </li>
                <% end %>
            </ul>
        </nav>


        <%= image_tag("vector_donkey_1.svg") %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>

    </body>
</html>
