<!DOCTYPE html>
<html>
    <head>
        <title>DocketDonkey</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag "reset", :media => "all" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= favicon_link_tag 'favicon.ico' %>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag "style", :media => "all" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
        <nav>
            <ul>
                <% if user_signed_in? %>
                    <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        </li>
                <% else %>
                    <li> <%= link_to('Login', new_user_session_path)  %>  </li>
                    <li> <%= link_to('Sign Up', new_user_registration_path)  %>  </li>
                <% end %>
            </ul>
        </nav>
        <h1>Docket Donkey</h1>
        <p>All the housing court cases in Worcester, Massachusetts from 2008 to the present, downloadable as CSV files.</p>
        </header>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <%= image_tag("vector_donkey_1.svg",size: "10") %>
        

        <% if !user_signed_in? %>
            <footer>
                <p>Full access (to include defendants names) restricted to legal aid agencies.  If you work at a legal aid agency, sign up using your work email address.</p>
            </footer>
        <% end %>

    </body>
</html>
